<p *ngIf="condition; else elseBlock">True</p>
<ng-template #elseBlock>
    <p style="background-color: red;">
        False
    </p>
</ng-template>

<hr>
<!-- ------------------------""---------------------------- -->
<h3>NgIfm</h3>

<p *ngIf="conditionClick" style="background-color: blue;">
    True
</p>

<p *ngIf="!conditionClick" style="background-color: red;">
    False
</p>

<button (click)="onCLick()">Clicar</button>

<!-- -------------------------""------------------------------- -->
<hr>

<h3>NgFor</h3>

<ul>
    <li *ngFor="let item of list" (click)="onClickEventList($event)"> {{item.nome}} - idade = {{item.idade}} </li>
</ul> 

<button (click)="onclickAdd()">add</button>